$lineHeight: 35px;

.profile {
  width: 100%;
  height: 60%;
  background-image: url(../../assets/images/profile.jpg);
  background-size: cover;
  position: relative;

  p {
    position: absolute;
    line-height: $lineHeight;
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
}

.name {
  bottom: $lineHeight;
  font-size: 24px;
}

.tagline {
  bottom: 0;
  font-size: 24px;
}

.container {
  height: 100%;
}
