.container {
  border: 3px solid black;
  text-align: center;
  white-space: nowrap;
  width: auto;
  display: inline-block;
  padding: 0 5px;
  font-family: 'Calibri';
  font-size: 26px;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.fake {
  color: white;
}

.logo {
  margin-left: 5px;
}
.grade {
  background-color: blue;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  color: white;
}

.awesome {
  background-color: blue;
}

.great {
  background-color: green;
}

.good {
  background-color: darkgoldenrod;
}

.fine {
  background-color: orange;
}

.real {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
