.carousel {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

$cardWidth: 70vh;
$cardHeight: 90vh;

.card {
  margin: 20px;
  position: fixed;
  display: inline-block;
  width: $cardWidth;
  height: $cardHeight;
  background-color: white;
  top: 2.5%;
  left: 1%;
  // margin-left: $cardWidth / -2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tutorial-modal {
  z-index: 1000000;
}
