.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.name {
  float: right;
  vertical-align: center;
  line-height: 30px;
  font-size: 26px;
  display: inline-block;
  margin: 0;
}

.container {
  padding: 30px;
  height: 100%;
}

.header {
  display: block;
  height: 30px;
}

.job, .role {
  float: left;
}

.duration {
  float: right;
}
.job-line {
  padding-bottom: 20px;
}
