<section class="container">
  <section class="header">
    <a href="https://github.com/MaxBlaushild"><img class="icon" src="https://pbs.twimg.com/profile_images/616309728688238592/pBeeJQDQ.png"></a>
    <a href="mailto:blaushmild@gmail.com"><img class="icon" src="https://cdn.worldvectorlogo.com/logos/gmail-icon.svg"></a>
    <a href="https://www.linkedin.com/in/maxblaushild/"><img class="icon" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png"></a>
    <h2 class="name">MAX BLAUSHILD</h2>
  </section>
  <section class="summary">
    <h4>SUMMARY</h4>
    <p>Creative and disciplined full stack software craftsmen seeks company to build outrageously amazing products with.</p>
  </section>
  <section>
    <h4>TOOLS</h4>
    <p>Javascript, NodeJS, TypeScript, Angular, RxJS, MySQL, PSQL, Redis,  AWS, Go, Swift, iOS, Mongo, Elasticsearch, Ruby, Rails, Jenkins, NGINX</p>
  </section>
  <section>
    <h4>PROFESSIONAL EXPERIENCE</h4>
    <section class="job-line">
      <span class="job">McGraw-Hill Education</span>
      <span class="role">Software Engineer</span>
      <span class="duration">11/15 - Present</span>
    </section>
    <p>Part of a commando programmer team outsourced to different projects to ensure their success. Coordinated with project managers, technical product managers and UX designers to craft requirements and execute them quickly. Provides techincal leadership to a company largely unfamiliar to NodeJS.</p>
    <section class="job-line">
      <span class="job">General Assembly</span>
      <span class="role">SME - Angular</span>
      <span class="duration">05/17 - Present</span>
    </section>
    <p>I am working with a team of instructors to craft an Angular curriculum. The curriculum covers Typescript, Components, Services, Modules, Webpack and other topics.</p>
    <section class="job-line">
      <span class="job">General Assembly</span>
      <span class="role">Developer in Residence</span>
      <span class="duration">4/15 – 11/15</span>
    </section>
    <p>I Taught lessons and lead class code reviews in AngularJS, Node.js, Ruby on Rails and other subjects. In addition, I debugged student errors and helped them find packages and gems to help them accomplish their coding goals.
    </p>
  </section>
</section>
